<div class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
  
        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="UserName" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
              <span *ngIf="f.UserName.errors.required">UserName is required</span>
          </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
              <span *ngIf="f.Password.errors.required">Password is required</span>
          </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
 </div>